In [137]:
# Data visualization
# BTech Computer Science Stream, January 2025
# Week 4 Python Language Basics
# Name: Oswin Vion Dsilva, 240905268,Section CE, Date: 06/02/2025

In [138]:
import numpy as np
import pandas as pd

In [139]:
# Question 1 
# Create a Series from a list of integers representing daily temperatures (in Celsius) over a week. Assign index labels as day
# of the week.
# a. Find and print the average (mean) temperature for the week.
# b. Identify and print the maximum and minimum temperatures and their respective days.
# c. Display the temperatures greater than a specific value.
# d. Convert all temperatures to Fahrenheit.
# e. Print the days had temperatures above the average.

# Creating Series with Labels as the days of the week

var_serTemp = pd.Series([20,28,31,32,24,27,40],index=["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"])

In [140]:
# Printing the mean using Series.mean() method from pandas

print(f"Average :{var_serTemp.mean()}")

Average :28.857142857142858

In [141]:
# Printing maximum and minimum temperature using Series.max() and Series.min() method respectively

print(f"Maximum temperature = {var_serTemp[var_serTemp.idxmax()]}") 

print(f"Minimum temperature = {var_serTemp[var_serTemp.idxmin()]}")

Maximum temperature = 40
Minimum temperature = 20

In [142]:
# Number to find greater than

var_A = int(input())

# Printing temperatures greater than the input value

var_serResultA = var_serTemp[var_serTemp>var_A]

print(f"Greater than {var_A} : \n{var_serResultA}")

Greater than 30 :
Wednesday    31
Thursday     32
Sunday       40
dtype: int64

In [143]:
# Converting to Fahrenheit

print(f"Temperature in Fahrenheit :\n{(var_serTemp*9/5)+32}")

Temperature in Fahrenheit :
Monday        68.0
Tuesday       82.4
Wednesday     87.8
Thursday      89.6
Friday        75.2
Saturday      80.6
Sunday       104.0
dtype: float64

In [144]:
# Printing greater than average

var_serResultB = var_serTemp[var_serTemp>var_serTemp.mean()]

print(f"Greater than average :\n{var_serResultB}")

Greater than average :
Wednesday    31
Thursday     32
Sunday       40
dtype: int64

In [145]:
# Question 2
# Create a data frame with details of 10 students and columns as Roll Number, Name, Gender, Marks1, Marks2, Marks3.
# a. Create a new column with total marks
# b. Find the lowest marks in Marks1
# c. Find the Highest marks in Marks2
# d. Find the average marks in Marks3
# e. Find student name with highest average
# f. Find how many students failed in Marks2 (<40)

#Creating the dataframe

var_data = {
    "Roll_Number" : [1,2,3,4,5,6,7,8,9,10],
    "Name" :  ["Christopher","Sergio","Wendy","Beckett","Beckham","Madilyn","Anne","Cameron","Fabian","Ronan"],
    "Gender" : ["M","M","F","F","M","F","F","M","M","M"],
    "Marks1" : [64,74,64,83,98,76,87,60,95,33],
    "Marks2" : [36,31,95,65,24,75,86,57,43,30],
    "Marks3" : [20,98,85,40,97,42,80,71,27,82]
}

var_dfStudent = pd.DataFrame(var_data)

In [146]:
# Adding the total marks column 

var_dfStudent['Total_marks'] = var_dfStudent['Marks1']+var_dfStudent['Marks2']+var_dfStudent['Marks3']

# Printing the data frame to display the new column

print(var_dfStudent)

   Roll_Number         Name Gender  Marks1  Marks2  Marks3  Total_marks
0            1  Christopher      M      64      36      20          120
1            2       Sergio      M      74      31      98          203
2            3        Wendy      F      64      95      85          244
3            4      Beckett      F      83      65      40          188
4            5      Beckham      M      98      24      97          219
5            6      Madilyn      F      76      75      42          193
6            7         Anne      F      87      86      80          253
7            8      Cameron      M      60      57      71          188
8            9       Fabian      M      95      43      27          165
9           10        Ronan      M      33      30      82          145

In [147]:
# Printing lowest marks in Marks1 column

print(f"Minimum of marks 1: {var_dfStudent['Marks1'].min()}")

Minimum of marks 1: 33

In [148]:
# Printing highest marks in Marks2 column

print(f"Maximum of marks 2: {var_dfStudent['Marks2'].max()}")

Maximum of marks 2: 95

In [149]:
# Printing Average of marks in Marks3 column

print(f"Average of marks 3: {var_dfStudent['Marks3'].mean()}")

Average of marks 3: 64.2

In [150]:
# Printing Student name with highest average

# Calculating the average involves dividing every total marks by 3 
# Therefore,Finding Student with highest average is the same as finding the Student with the highest total marks

print(f"Student with highest average: {var_dfStudent['Name'][var_dfStudent['Total_marks'].idxmax(axis=0)]}")

Student with highest average: Anne

In [151]:
# Printing number of students who failed

print(f"Number of Students who failed : {var_dfStudent[var_dfStudent['Marks2']<40]['Name'].count()}")

Number of Students who failed : 4